@import 'colors.scss';

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 90%;
    color: #fff;
    padding: 30px 0;
}

.footer-copyright-link, .footer-copyright-link:hover {
    color: #fff;
    text-decoration: underline;
    margin-left: 20px;
}

.footer-nav-link {
    color: $disabled-link-grey;
    display: inline-block;
    margin: 10px;
}

.footer-nav-link:hover {
    color: #fff;
}

.footer-nav-link-active {
    color: #fff;
}

.footer-nav-link-active::before {
    content: '> ';
    color: $yellow-back;
}

.footer-copyright-iconlink {
    display: flex;
    margin-top: 20px;
}

