
.guest-book {
    padding-top: 64px;
    padding-bottom: 80px;
}

.guest-book-list {
    padding: 0;
    list-style-position: inside;
}

.guest-book-input-group,
.guest-book-item {
    font-size: 160%;
    font-weight: bold;
    margin-bottom: 30px;
}

.guest-book-btn {
    display: inline-block;
    background: transparent;
    border: 0;
    font-weight: bold;
    font-size: 100%;
}

.guest-book-input-group {
    display: flex;
    align-items: center;
}

.guest-book-btn:first-of-type {
    margin-left: 40px;
}

.guest-book-input {
    padding-left: 5px;
    height: 30px;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    box-shadow: inset 1px 2px 10px 0px rgba(0,0,0,0.5);
    width: 400px;
}

.guest-book-heading {
    text-transform: uppercase;
}
