@import 'colors.scss';

.header {
    min-height: 93px;
    height: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address {
    font-style: normal;
    font-size: 90%;
    text-align: right;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 120%;
    width: 146px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    display: inline-block;
}

.logo-text {
    font-weight: bold;
    margin-left: 17px;
}
