doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Тестовое задание
    meta(name='description', content='itex')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='app.min.css')
  body
    div(class='yellow-back')
      header(class='header container')
        div(class='logo')
          p(class='logo-icon icon-border2') Аренда
          p(class='logo-text')
            span Услуги строительной
            br
            span техники
        address(class='address')
          p г. Екатеринбург, ул. Маяковского, 25
          p +7 (343) 222-20-17

    div
      nav(class='menu container')
        ul(class='menu-list')
          li
            a(class='menu-icon icon-house', href='#')
          each val in ['Каталог техники', 'Услуги', 'Выполненные работы', 'О компании', 'Контакты']
            li(class='menu-item')
              a(href='#')= val

    div(class='slider')
      div(class='slider-imgs')
        img(class='slider-img hidden', src='static/slide.png')
        img(class='slider-img hidden', src='static/slide.png')
      div(class='slider-controls')
        button(class='slider-control icon-left-arrow')
        button(class='slider-control icon-right-arrow')

    main(class='main container')
      p(class='bread')
        a(class='bread-link', href='#') Главная
        a(class='bread-link', href='#') Каталог
        a(class='bread-link') Название товара

      div(class='purchase')
        - const product = 'JCB 4CX Super'
        img(class='purchase-image', src='static/traktor.png', alt=product, title=product)
        form(class='purchase-form', action='#', method='get')
          h3= product
          button(id='spoiler1', class='spoiler-button')
            h3 Характеристики
            p(class='icon-top-arrow')
          div(id='spoiler1content', class='spoiler')
            div(class='input-group')
              input(class='purchase-checkbox', type='checkbox', name='char1', id='char1' checked)
              label(for='char1') Характеристика 1
            div(class='input-group')
              input(class='purchase-checkbox', type='checkbox', name='char2', id='char2')
              label(for='char2') Характеристика 2
            div(class='input-group')
              input(class='purchase-checkbox', type='checkbox', name='char3', id='char3')
              label(for='char3') Характеристика 3
          button(id='spoiler2', class='spoiler-button')
            h3 Информация
            p(class='icon-bottom-arrow')
          div(id='spoiler2content', class='spoiler hidden')
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            | printer took a galley of type and scrambled it to make a type specimen book. It has survived
            | not only five centuries, but also the leap into electronic typesetting, remaining
            | essentially unchanged. It was popularised in the 1960s with the release of Letraset
            | sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
            | like Aldus PageMaker including versions of Lorem Ipsum.`
          div(class='purchase-summary')
            h3(class='purchase-price') 125.000 P.
            button(class='purchase-button') Заказать

      hr
      h1(class='services-heading') Услуги

    div(class='yellow-back')
      div(class='services container')
        -
          const services = {
            'Засыпка траншей': 'Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.',
            'Вывоз мусора': 'Вывоз мусора — составляющая деятельности производств и бытовых предприятий',
            'Доставка': 'Отсев образуется после разработки твердых горных пород и является востребованным материалом в строительстве',
            'Подъем грузов': 'Выполнение широкого спектра высотных операций сложно представить без специализированной техники',
          }
        each description, heading in services
          section(class='service')
            div(class='service-icon icon-cap')
            div
              h3(class='service-heading')= heading
              p(class='service-description')= description

    div
      div(class='guest-book container')
        h1(class='guest-book-heading') Заголовок
        ol(class='guest-book-list')
          li(class='guest-book-item')
            span Задача 1
            button(class='guest-book-btn icon-pencil')
            button(class='guest-book-btn icon-cancel')
          li(class='guest-book-item')
            span Задача 2
            button(class='guest-book-btn icon-pencil')
            button(class='guest-book-btn icon-cancel')
        div(class='guest-book-input-group')
          input(class='guest-book-input')
          button(class='guest-book-btn icon-ok')
          button(class='guest-book-btn icon-cancel')
      iframe(class='yandex-map', src='https://yandex.ru/map-widget/v1/-/CBqwrKT12A')

    div(class='black-back')
      footer(class='footer container')
        p(class='logo-icon icon-border1 logo-icon-yellow') Аренда
        nav(class='footer-nav')
          p
            a(class='footer-nav-link footer-nav-link-active', href='#') Главная
            a(class='footer-nav-link', href='#') Каталог техники
            a(class='footer-nav-link', href='#') Услуги
          p
            a(class='footer-nav-link', href='#') Выполненные работы
            a(class='footer-nav-link', href='#') О компании
            a(class='footer-nav-link', href='#') Контакты
        div(class='footer-copyright')
          p © Айтекс start 2016
          div(class='footer-copyright-iconlink')
            p(class='icon-itex')
            a(class='footer-copyright-link', href='#') itexstart.ru

  script(
    src='https://code.jquery.com/jquery-2.2.4.min.js',
    integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=',
    crossorigin='anonymous')
  script(src='app.min.js')
