@import 'colors.scss';

.container {
    width: 939px;
    margin: 0 auto;
}

.yellow-back {
    background: $yellow-back;
}

.black-back {
    background: #000;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    background: #818180;
    height: 2px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: $disabled-link-grey;
}

h1, h3, p {
    margin: 0;
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}
