@import 'colors.scss';

.main {
    display: block;
    padding-top: 45px;
    padding-bottom: 19px;
}

.purchase {
    margin-top: 65px;
    display: flex;
    align-items: flex-start;
}

.purchase-image {
    flex: 0 0 auto;
    width: 295px;
    height: 295px;
    object-fit: contain;
    margin-right: 29px;
}

.purchase-price {
    display: inline;
    margin-right: 53px;
}

.bread-link {
    color: #ffb802;
    font-size: 80%;
}

.bread-link:not(:last-child)::after {
    content: '/';
    color: #000;
    margin: 0 2px;
}

.bread-link:hover[href] {
    color: #e2a404;
}

.bread-link:not([href]) {
    color: #000;
}

.services-heading {
    text-align: center;
    text-transform: uppercase;
}

.services {
    padding: 48px 0;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    min-height: 200px;
}

.service {
    display: flex;
    width: 50%;
}

.service:first-child {
    padding-bottom: 71px;
}

.service-heading {
    text-transform: uppercase;
    margin-bottom: 34px;
    margin-top: 4px;
}

.service-description {
    font-size: 85%;
}

.service-icon {
    flex: 0 0 auto;
    margin-right: 47px;
}

.purchase-button {
    background: linear-gradient(to bottom, rgba(253,206,3,1) 0%,rgba(249,181,0,1) 100%);
    border: 1px solid #f9b500;
    border-radius: 3px;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 7px 25px;
    font-size: 75%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.purchase-button:hover {
    text-decoration: none;
}

.yandex-map {
    width: 100%;
    border: 0;
    display: block;
    height: 600px;
    background: #ddd;
}


.logo-icon-yellow {
    color: $yellow-back;
}

.input-group {
    margin-bottom: 10px;
}

.purchase-checkbox {
    display: none;
}

.purchase-form {
    width: 100%;
}

.purchase-checkbox + label::before {
    content: '';
    width: 26px;
    height: 26px;
    border: 2px solid #000;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.purchase-checkbox + label {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.purchase-checkbox:checked + label::before {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNicgaGVpZ2h0PScyNic+PHJlY3QgeD0nMicgeT0nMicgd2lkdGg9JzIyJyBoZWlnaHQ9JzIyJy8+PC9zdmc+) no-repeat;
}

.spoiler {
    margin: 20px 0;
}

.spoiler-button {
    width: 100%;
    background: #fff;
    border: 1px solid #cdcdcd;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 1px 3px 2px 0px rgba(0,0,0,0.75);
    margin: 20px 0;
}

