
.menu-icon {
    display: inline-block;
    margin-right: 51px;
}

.menu {
    min-height: 49px;
    height: 1px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    min-height: inherit;
    height: inherit;
}

.menu-item {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 41px;
}
