@import 'colors.scss';

.slider {
    height: 551px;
    background: $yellow-back;
    position: relative;
}

.slider-img {
    height: 551px;
    object-fit: cover;
    display: inline-block;
}

.slider-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
}

.slider-control {
    display: block;
    background-color: transparent;
    border: 0;
}

.slider-control:last-of-type {
    margin-left: 30px;
}
